<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
		<meta charset="utf-8">
		<title>SAPUI5 Navigation</title>
		<script
				id="sap-ui-bootstrap"
				src="[#ui5_source#]"
				data-sap-ui-theme="[#ui5_theme#]"
				data-sap-ui-libs="sap.m"
				data-sap-ui-bindingSyntax="complex"
				data-sap-ui-compatVersion="edge"
				data-sap-ui-preload="async"
				data-sap-ui-resourceroots='{
					"[#app_id#]": "[#assets_path#]"
				}'>
		</script>

		<script>

			window.onload = function () {
				sap.ui.require([
					"sap/m/Shell",
					"sap/ui/core/ComponentContainer"
				], function (Shell, ComponentContainer) {
					new Shell({
						app : new ComponentContainer({
							name : "[#app_id#]",
							settings : {
								id : "[#app_id#].Component"
							}
						})
					}).placeAt("content");
				});
			};

		</script>

	</head>
	<body class="sapUiBody sapUiSizeCompact" id="content">
	</body>
</html>
