/* Alignment classes */
.pull-right {float: right;}
.pull-left {float: left;}
.pull-center {margin-left: auto; margin-right: auto; display: block;}

/* Visibility classes */
.exf-promoted {font-weight: bold;}

/* Symfony Debugger */
.exception .container {width: auto !important;} 
pre.sf-dump {background: none !important; border: none !important;}
pre.sf-dump span.sf-dump-key {color: black !important;}
pre.sf-dump span.sf-dump-str {color: black !important;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* Shell: custom header */
#exf_pagetitle {color: #346187}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB {height: 44px; padding: 0 0.5rem 0 0;}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB .sapMBtnIcon:before {font-size: 16px}
.exf-context-popup .sapMPanelContent {border-bottom: 0 !important}


/* sap.m.Table */
.sapMList.sapMListBGTranslucent.sapMListTblCnt {overflow-x: scroll}
.sapMTB-Info-CTX .sapMBtnTransparent>.sapMBtnIcon {color: #fff}

/* sap.m.List */
.sapMLIB.sapMSLIIcon {padding-left: 0;}

/* sap.m.GridList */
.sapFGridListDefault {padding: 0 0.5rem}

/* sap.f.DynamicPage */
.exf-page-heading-btn {margin-top: -5px; margin-left: -11px;}
body:not(.sapUiSizeCompact) .sapFDynamicPageTitleMainHeadingInner .sapMTitle > span {line-height: 2.375rem}

/* sap.m.P13nDialog */
.sapMP13nDialog > .sapMDialogResizeHandler {position: inherit}

/* Tiles */
.sapMTileCntContent .sapMFC.sapMTcInnerMarker {width: inherit !important;}
.sapMTileCntContent .sapMFCCTxt {overflow: visible !important;}
.sapMGT.exf-stretched .sapMTileCnt.sapMFrameTypeAuto {max-width: none;}
.sapMGT.exf-col-3 {width: calc(25% - 0.5rem)}
.sapMGT.exf-col-4 {width: calc(33% - 0.5rem)}
.sapMGT.exf-col-6 {width: calc(50% - 0.5rem)}
.sapMGT.exf-col-12 {width: 100%}
.exf-icon-tile .sapMGTContent {margin-top: -40px}

/* Forms */
.sapUiFormTitle:empty {display: none;}

/* HTML widgets */
.exf-html {font-size: 0.875rem;}
.sapUiSimpleForm .exf-html h1 {font-size: 1.275rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h2 {font-size: 1.175rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h3 {font-size: 1.075rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h4 {font-size: 1.0rem; font-weight: normal;}

/* Flot */
.exf-flot-wrapper .error {display: none;}

/* QRCode */
.qrcode > img {margin: 0 auto 10px auto;}

/* Image */
img.sapMImg:not(.sapUxAPObjectPageHeaderObjectImage) {display: block; max-width: 100%}

/* Temp. fixes for UI5 issues */
.sapMImageContentImageIcon.sapUiIcon {position: absolute; display: block;}
/* Image and title in object page layout header to close to page header line in 1.67.1 */
.sapUxAPObjectPageHeaderContent {padding-top: 1rem;}
/* sap.m.Table group header rows barely different from striped rows */
.sapMGHLICell {padding: 0 1rem; border-top: 2px solid #ccc !important; font-weight: bold;}

/* jExcel */
.jexcel_container {width: 100%}
.jexcel_content {width: 100%}
table.jexcel {width: 100%}
.jexcel_row, .jexcel_selectall {padding-left: 5px !important; padding-right: 5px !important; max-width: 4em}
.jexcel>thead.footer>tr>td {background-color: white; font-weight: bold; border-top: 1px solid #666;}
.jexcel td {overflow: hidden; text-overflow: ellipsis;}
.jdropdown-container.slide-bottom-in {bottom: initial !important;}

/* UI5DashBoard Widget GridContainer layout for columns*/
.dashboard_gridcontainer_layout {grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important; grid-auto-rows: auto !important;}
.sapFCardContent > .sapMPanel > .sapMPanelContent {border-bottom: 0 !important}
.dashboard_gridcontainer_gap_margin_bottom {margin-bottom: 10px !important}

/* DataLookupDialog */
.sapMDialog > .sapMDialogSection > .sapMDialogScroll {height: 100%}
.sapMDialog .sapMVBox > .sapMFlexItemAlignAuto {height: 100%}
.dataLookupDialogSelectedElementsTokenizer {height: 1.625rem; overflow: hidden; border-width: 1px; border-color: #89919a; border-style: solid; border-radius: 5px; display: block;}
.dataLookupDialogSelectedElementsHBoxFlexItem {width: calc(100% - 32px);}