/* Alignment classes */
.pull-right {float: right;}
.pull-left {float: left;}

/* Symfony Debugger */
.exception .container {width: auto !important;} 
pre.sf-dump {background: none !important; border: none !important;}
pre.sf-dump span.sf-dump-key {color: black !important;}
pre.sf-dump span.sf-dump-str {color: black !important;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* Shell: custom header */
#exf_pagetitle {color: #346187}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB {height: 44px; padding: 0 0.5rem 0 0;}
.sapUiUfdShellCntnt > .sapMIBar.sapMTB .sapMBtnIcon:before {font-size: 16px}

/* sap.m.Table */
.sapMList.sapMListBGTranslucent.sapMListTblCnt {overflow-x: scroll}
.sapMTB-Info-CTX .sapMBtnTransparent>.sapMBtnIcon {color: #fff}

/* sap.m.List */
.sapMLIB.sapMSLIIcon {padding-left: 0;}

/* sap.f.DynamicPage */
.exf-page-heading-btn {margin-top: -5px; margin-left: -11px;}

/* sap.m.P13nDialog */
.sapMP13nDialog > .sapMDialogResizeHandler {position: inherit}

/* Tiles */
.sapMTileCntContent .sapMFC.sapMTcInnerMarker {width: inherit !important;}
.sapMTileCntContent ..sapMFCCTxt {overflow: visible !important;}

/* Forms */
.sapUiFormTitle:empty {display: none;}

/* HTML widgets */
.exf-html {font-size: 0.875rem;}
.sapUiSimpleForm .exf-html h1 {font-size: 1.275rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h2 {font-size: 1.175rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h3 {font-size: 1.075rem; font-weight: normal;}
.sapUiSimpleForm .exf-html h4 {font-size: 1.0rem; font-weight: normal;}

/* Flot */
.exf-flot-wrapper .error {display: none;}

/* Temp. fixes for UI5 issues */
.sapMImageContentImageIcon.sapUiIcon {position: absolute; display: block;}