/* Alignment classes */
.pull-right {float: right;}
.pull-left {float: left;}

/* Symfony Debugger */
.exception .container {width: auto !important;} 
pre.sf-dump {background: none !important; border: none !important;}
pre.sf-dump span.sf-dump-key {color: black !important;}
pre.sf-dump span.sf-dump-str {color: black !important;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}